@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(assets/light\ speed.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

header h1 {
   display: flex;
   justify-content: center;
   text-align: center;
   color: #F1F200;
   padding: 50px;
}

/* Définition d'un container pour gérer l'affichage */
.container {
    overflow: hidden;
    /* Cache les éléments qui dépassent du container */
}
/* Définition du carousel */
.carousel {
    position: relative;
    /* Le carousel est positionné relativement à son parent */
}
/* Définition de l'élément contenant les diapositives */
.carousel-inner {
    display: flex;
    /* Affiche les éléments en ligne */
    overflow: hidden;
    /* Cache les éléments qui dépassent */
    flex-wrap: nowrap;
    /* Empêche les éléments de se placer sur plusieurs lignes */
}
/* Définition des diapositives */
.slide {
    flex: 0 0 calc(100% / 3);
    /* Largeur de chaque diapositive est de 100% */
    height: 100%;
    /* Hauteur de chaque diapositive est de 100% */
    transition: 0.5s ease-in-out;
    /* Ajout d'une animation douce pour la transition entre les diapositives */
}
/* Définition de l'affichage du bouton de chaque diapositive */
.slide button {
    width: 100%;
    /* Largeur de l'image est de 100% */
    height: 60px;
    /* Hauteur de l'image est de 60px */
    object-fit: cover;
    /* Couvre tout l'espace disponible */
}
/* Définition des boutons de contrôle du carousel */
.carousel-controls {
    position: absolute;
    /* Les boutons sont positionnés de manière absolue */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 10px;
    /* La distance à gauche est de 10px */
    right: 10px;
    /* La distance à droite est de 10px */
    top: 11px;
    /* La distance du haut est de 11px */
    display: flex;
    /* Affiche les boutons en ligne */
    justify-content: space-between;
    /* Espacement égal entre les boutons */
}
/* Style des boutons de contrôle */
.carousel-controls button {
    padding: 10px;
    /* Ajout de padding pour un meilleur contrôle */
    background-color: aquamarine;
    /* Arrière-plan en aquamarine */
}

#prehistoire {
    background-color: #F07800;
}

#bronze {
    background-color: #E39C1B;
}

#fer {
    background-color: #E0B31D;
}

#antique {
    background-color: #E0C25E;
}

#moyenAge {
    background-color: #E0CB1D;
}

#moderne {
    background-color: #DFE625;
}

#contemporain {
    background-color: #F1F200;
}

.navbary {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-container{
width: 100%; 
background: linear-gradient(90deg, rgba(240,120,0,1) 0%, rgba(239,124,4,1) 10%, rgb(216, 117, 11) 15%, rgba(229,163,43,1) 100%);  
padding: 2rem 1rem;
width: 30%;
border-radius:  10px 10px 10px 10px;
box-shadow: 30px 18px 17px 0px #B1AFAF;
border: 0.15rem solid #B1AFAF;
}

.card-img{ 
padding: 0;
border-radius: 0.65rem;
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

h2{
font-size: 2.5rem;
text-transform: uppercase;
color: black;
}

.description{
font-size: 1.45rem;
font-weight: 400;  
}

.quote{
font-style: italic;
font-size:1.35rem;
}



