@font-face {
    font-family: "star_jedi";
    src: url("./assets/star_jedi/starjedi/Starjedi.ttf");
}

@font-face {
    font-family: "radjhani";
    src: url("./assets/Rajdhani/Rajdhani-Medium.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(assets/light\ speed.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

header h1 {
   font-family: "star_jedi";
   display: flex;
   justify-content: center;
   text-align: center;
   color: #F1F200;
   padding: 50px;
}

button {font-family: "star_jedi";}

/* Définition d'un container pour gérer l'affichage */
.container {
    overflow: hidden;
   
    /* Cache les éléments qui dépassent du container */
}
/* Définition du carousel */
.carousel {
    position: relative;
    /* Le carousel est positionné relativement à son parent */
}
/* Définition de l'élément contenant les diapositives */
.carousel-inner {
    display: flex;
    /* Affiche les éléments en ligne */
    overflow: hidden;
    /* Cache les éléments qui dépassent */
    flex-wrap: nowrap;
    /* Empêche les éléments de se placer sur plusieurs lignes */
}
/* Définition des diapositives */
.slide {
    flex: 0 0 calc(100% / 3);
    /* Largeur de chaque diapositive est de 100% */
    height: 100%;
    /* Hauteur de chaque diapositive est de 100% */
    transition: 0.5s ease-in-out;
    
    /* Ajout d'une animation douce pour la transition entre les diapositives */
}
/* Définition de l'affichage du bouton de chaque diapositive */
.slide button {
    width: 100%;
    /* Largeur de l'image est de 100% */
    height: 60px;
    /* Hauteur de l'image est de 60px */
    object-fit: cover;
    /* Couvre tout l'espace disponible */
}
/* Définition des boutons de contrôle du carousel */
.carousel-controls {
    position: absolute;
    /* Les boutons sont positionnés de manière absolue */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 10px;
    /* La distance à gauche est de 10px */
    right: 10px;
    /* La distance à droite est de 10px */
    top: 11px;
    /* La distance du haut est de 11px */
    display: flex;
    /* Affiche les boutons en ligne */
    justify-content: space-between;
    /* Espacement égal entre les boutons */
}
/* Style des boutons de contrôle */
.carousel-controls button {
    padding: 10px;
    /* Ajout de padding pour un meilleur contrôle */
    
}

.navbarx {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    cursor: pointer;
}
#next{background-repeat: no-repeat;
    background-color: #000000;
     
    background-image: url(/assets/arrow/arrow\ right.png);background-size: cover;
    
}
#prev{width: 1.5em;
    
   background-image: url(/assets/arrow/vecteezy_icone-de-fleche-gauche-3d-png-sur-fond-transparent_16774469.png);background-size: cover;
  
   background-repeat: no-repeat;
   background-color: #000000;
  }

.navbary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  transform: rotate(90deg);
  position:relative;
  inset: 742px -740px ; 
}
#prehistoire{background: linear-gradient(73deg, rgba(240,120,0,1) 0%, rgba(227,156,27,1) 100%);}

#prehistoire1 {
    font-family: "star_jedi";
    background: linear-gradient(73deg, rgba(240,120,0,1) 0%, rgba(227,156,27,1) 100%);
    font-size: 1rem;
    transform: rotate(-180deg);
}
#bronze{ background: linear-gradient(73deg, rgba(227,156,27,1) 0%, rgba(224,179,29,1) 100%);}
#bronze1 {
    background: linear-gradient(73deg, rgba(227,156,27,1) 0%, rgba(224,179,29,1) 100%);
    font-size: 1rem;font-family: "star_jedi";
    transform: rotate(-180deg);
}
#fer{ background: linear-gradient(73deg, rgba(224,179,29,1) 0%, rgba(224,194,94,1) 100%);}
#fer1 {
    background: linear-gradient(73deg, rgba(224,179,29,1) 0%, rgba(224,194,94,1) 100%);
    font-size: 1rem;font-family: "star_jedi";
    transform: rotate(-180deg);
}
#antique{background: linear-gradient(73deg, rgba(224,194,94,1) 0%, rgba(224,203,29,1) 100%);}
#antique1 {
    background: linear-gradient(73deg, rgba(224,194,94,1) 0%, rgba(224,203,29,1) 100%);
    font-size: 1rem;font-family: "star_jedi";
    transform: rotate(-180deg);
}
#moyenAge{background: linear-gradient(73deg, rgba(224,203,29,1) 0%, rgba(223,230,37,1) 100%);}
#moyenAge1 {
    background: linear-gradient(73deg, rgba(224,203,29,1) 0%, rgba(223,230,37,1) 100%);
    font-size: 1rem;font-family: "star_jedi";
    transform: rotate(-180deg);
}
#moderne{background: linear-gradient(73deg, rgba(223,230,37,1) 0%, rgba(241,242,0,1) 100%);}
#moderne1 {
    background: linear-gradient(73deg, rgba(223,230,37,1) 0%, rgba(241,242,0,1) 100%);
    font-size: 1rem;font-family: "star_jedi";
    transform: rotate(-180deg);
}
#contemporain{ background: linear-gradient(73deg, rgba(241,242,0,1) 0%, rgba(157,255,0,1) 100%);}
#contemporain1 {
    background: linear-gradient(73deg, rgba(241,242,0,1) 0%, rgba(157,255,0,1) 100%);
    font-size: 1rem;font-family: "star_jedi";
    transform: rotate(-180deg);
}

.cards {
    display: flex;
    flex-direction:column;
    align-items: end;   
}

.card-container {
  background: linear-gradient(90deg, rgba(240,120,0,1) 0%, rgba(239,124,4,1) 10%, rgb(216, 117, 11) 15%, rgba(229,163,43,1) 100%);  
  padding: 2rem 1rem;
  width: 30%;
  border-radius:  10px 10px 10px 10px;
  box-shadow: 30px 18px 17px 0px #B1AFAF;
  border: 0.15rem solid #B1AFAF;
}

.card-img { 
  background-color: aliceblue;
  width: 50%;
  border-radius: 0.65rem;
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  margin-bottom: 30px;
}

h2 {
  padding-top: 50px;
  padding-right: 10px;
  text-align: center;
  float: left;
  font-family: "star_jedi";
  font-size: 1.5rem;
  color: black;
  width: 50%;
}

.description {
  font-family: "radjhani";
  padding: 2rem;
  font-size: 1.45rem;
  font-weight: 400;
  box-shadow: 5px 5px 5px 0px black, inset 0px 0px 5px 0px black, 0px 0px 0px 0px rgba(0,0,0,0);
  border-radius: 10px;
}

.quote {
  font-family: "rajdhani";
  padding: 2rem;
  font-style: italic;
  font-size:1.35rem;
}